
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include bootstrap_navbar.html %}

    <div class="container">
        {% for node in site.pages %}
          {% if page.group == node.group %}
            {% if node.type == 'hero' %}
              {% if page.type == 'index' %}
                <div class="row">
                  <div class="col-md-12">
                    {{ node.content | markdownify }}
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      <div class="row">
        <div class="col-md-2">{% include sidebar_left.html %}</div>
        <div class="col-md-8">{{ content }}</div>
        <div class="col-md-2">{% include sidebar_right.html %}</div>
      </div>
    </div> <!-- /container -->

  </body>
</html>
